# Dedicated to the public domain under CC0: https://creativecommons.org/publicdomain/zero/1.0/.

# Finder.
.DS_Store

# Python.
__pycache__/
dist/

# Project.
_build/
_misc/
_plan.md
_prompt.md
_todo.md

linux/caddy/download/
linux/vector/download/

linux/src/litestream-main.zip
linux/src/litestream-main/
linux/src/Python-*.tar.xz
linux/src/Python-*/
linux/src/sqlite-src-*/
linux/src/sqlite-src-*.zip
linux/src/litestream-*/
linux/src/litestream-*.zip
